@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: Silver;
  }

h1, h2 {
  border-left: 4px solid #04D9FF; 
  padding-left: 10px;
  color: Gold
}

h{
  border-left: 4px solid #03C8EE; 
  padding-left: 10px;
  color: Gold
}

.sidebar {
  color: #007FFF; 
  background-color: #EEF; 
}

.sidebar ul li a {
  color: SlateGray; 
}

.sidebar ul li a:hover {
  color: black;
  background-color: #007FFF;
}
