@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap&subset=latin,greek-ext');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'); 
/* loads the font from Google’s CDN :contentReference[oaicite:0]{index=0} */

@keyframes ToGold {
    0% {
      background-color: inherit;    /* start from whatever it was before */
      color: inherit;    /* start from whatever it was before */
      }
    100% {
      background-color: gold;       /* end point */
      color: black; 
      }
    }  



body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: Silver;
    font-size:1.3em
  }

h1, h2 {
  border-left: 4px solid Brass; 
  padding-left: 10px;
  color: Gold;
}

h1, h2, h3, h4, h5, h6 {
  border-left: 4px solid Brass; 
  padding-left: 10px;
  color: Gold !important;
}

.sidebar {
  color: gold; 
  background-color: #001; 
}

.sidebar ul li a {
  color: silver; 
  background-color: #112; 
    
    }

.sidebar ul li a:hover {
    animation: ToGold 0.2s ease-in-out forwards;
    }

.quotes {
  font-family: 'Rouge Script', 'Great Vibes', cursive;
  font-size: 1.6em;         
    /* a bit larger for flourish */
  color: gold;           
  padding: 0.2em 0.4em;     
  border-left: 3px solid Brass; 
    /* subtle “quote bar” */
  margin: 1em 0;
  display: block;           
    /* so it behaves like a blockquote */
  line-height: 1.4;
  }

blockquote {
  font-family: 'Courier Prime', mono;
  font-size: 1.4em;         
    /* a bit larger for flourish */
  color: silver;           
  padding: 1em 1.2em;     
  border-left: 3px solid Brass; 
    /* subtle “quote bar” */
  margin: 1em 0;
  display: block;           
    /* so it behaves like a blockquote */
  line-height: 1.4;
  background-color: #001;
  background: #001;
  }

code {
  font-family: 'Courier Prime', mono;
  background: black;
  font-size: 1.4em;         
  color: lime;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.95em;
}

/* docs/custom.css */

/* Target *all* heading levels inside your Markdown area */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  color: gold !important;
}


table, th, td {
    background-color: black;
    color: silver;
    } 


.responsive-iframe {
    width: 100%;
    height:  100%;
    padding-bottom: 75%; /* 4:3 aspect ratio */
    position: relative;
    }
.responsive-iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    }
